global:
  scrape_interval: 1m

rule_files:
  - "alert.rules.yml"

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets:
          - "prometheus:9090"
  - job_name: "individuals_api"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets:
          - "individuals_api:8081"
